@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#head-container{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/imgHead.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 15px;
    text-align: left;
}
#head-container h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #000000 ;
    padding-bottom: 5px;
}
#head-container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #000000 ;
/* border: 1px solid #000000; */
}