@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    max-width: 100vw;
    max-height: 100vh;
}

#head-container{
    /* width: 430px; */
    height: 240px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: end;
    background-image: url(/img/BGMenuPrincipalPoE.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 15px;
    text-align: left;
}
#head-container h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #000000 ;
    padding-bottom: 5px;
}
#head-container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #000000 ;
}

#icons-container{
    /* height: 65px; */
    padding: 20px 20px;
    background-image: url(/img/IconesPoE.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #FFFFFF;
}
.icons img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color:#FEFFFF;
}
.icons p{
    font-size: 16px;
}

#video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/BGVideoPoE.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px;
}
.video-description h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    text-align: center;
    color: #FEFFFF;
    text-shadow: 2px 2px 2px #A5A5A5 ;
    padding-bottom: 15px;
}
.video-description h2 strong{
    color: #FF1F00;
}
.video-description p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FEFFFF;
    text-shadow: 2px 2px 2px #A5A5A5 ;
    padding-top: 15px;
}
.video-content{
    display: flex;
    justify-content: center;
}
.video-content iframe{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 360px;
}